@import 'tailwindcss';

:root[data-theme='light'] {
  --text: #0c0e0e;
  --background: #f5f9f9;
  --primary: #296a64;
  --secondary: #73ded0;
  --accent: #14bda7;
  --text-on-primary: #ffffff; /* White text for contrast */
}
:root[data-theme='dark'] {
  --text: #f1f3f3;
  --background: #060a0a;
  --primary: #95d6cf;
  --secondary: #218c7e;
  --accent: #42ebd5;
  --text-on-primary: #000000; /* Black text for contrast */
}
